<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Welcome to the Homepage!</h1>
    <img src="/static/P1_iso.jpg" alt="Image", width="400">
    <ul>
        <li><a href="research">Research</a></li>
        <li><a href="testing">Testing</a></li>
        <li><a href="designs">Designs</a></li>
    </ul>
</body>
</html>




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Image Example</title>
</head>
<body>
    <h1>Image Example</h1>
    <img src="/static/P1_iso.JPG" alt="Description of the image">
</body>
</html> -->