<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Welcome to Our Website</h1>
    <img src="/static/P1_iso.jpg" alt="Homepage Image" width="400">

    <h2>Explore Our Pages:</h2>
    <ul>
        <li><a href="field_testing.html">Field Testing</a></li>
        <li><a href="pedal_survey.html">Pedal Survey</a></li>
        <li><a href="biomedical.html">Biomedical Analysis</a></li>
    </ul>
</body>
</html>